html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  background-color: floralwhite;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-between;
}

.main-section {
  background-color: rgb(11, 46, 82);
  height: 100%;
  width: 100%;
}

.about-main-section {
  background-color: rgb(11, 46, 82);
  height: 100%;
  width: 100%;
  color: floralwhite;
}

.about-main-section h2 {
  padding: 0 10px;
  font-size: 2.3rem;
  text-align: center;
}

.about-main-section h3 {
  font-size: 1.6rem;
  padding: 0 20px;
}

.about-main-section p {
  font-size: 1.1rem;
  padding: 0 20px;
}

.float-right {
  margin: 5px 20px;
  float: right;
  width: 250px;
  height: auto;
}

.float-left {
  margin: 5px 20px;
  float: left;
  width: 250px;
  height: auto;
}

hr {
  width: 80%;
  border: 1px solid rgb(112, 119, 132);
  border-radius: 5px;
}

.sides {
  width: 15%;
  background-color: rgb(18, 75, 133);
}


header {
  height: 85px;
  background-color: rgb(112, 119, 132);
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

#name {
  padding: 10px;
  text-decoration: none;
  color: white;
}

#nav-links {
  display: flex;
  padding: 10px;
}

.links {
  padding: 5px;
  color: white;
  text-decoration: none;
}

.links:hover {
  color: #444951;
}

.active {
  text-decoration: underline;
  color: #191b1d;
}

main {
  flex: 1;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.main-top-half {
  display: flex;
  background-color: rgb(10, 45, 81);
  height: 40%;
}

#home-intro {
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 45, 81);
  height: 100%;
  width: 70%;
  color: floralwhite;
}

#home-intro h2 {
  font-size: 2rem;
  margin: 0;
  padding: 20px 20px;
}

#home-intro p {
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding: 20px;
}

#home-img {
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  padding: 10px;
  display: flex;
  object-fit: scale-down;
}

#home-quote {
  text-align: center;
  font-size: 4rem;
  color: floralwhite;
  font-family: cursive;
}

.main-bottom-half {
  background-color: rgb(10, 45, 81);
  flex-grow: 1;
}

footer {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: rgb(112, 119, 132);
}

footer a {
  padding: 0 30px;
  font-size: 3rem;
  color: black;
  text-decoration: none;
  
}

.icon-linkedin{
  color: #0e76a8;
}

.icon-linkedin:hover {
  color: #0b5c8a;  
}

.icon-github{
  color: #333;
}

.icon-github:hover {
  color: #555;
}

.icon-twitter{
  color: #1DA1F2
}

.icon-twitter:hover {
  color: #0d8ce2
}